<?xml version="1.0" encoding="UTF-8" standalone="no" ?>

<phpunit
    verbose="true"
    colors="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    cacheResult="false"
    cacheTokens="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    processIsolation="false"
>

    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="-1"/>
    </php>

    <testsuites>
        <!-- The suite of Data Structures -->
        <testsuite name="ds">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
