<?xml version="1.0" encoding="UTF-8" standalone="no" ?>

<phpunit
    verbose="true"
    colors="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    cacheResult="false"
    cacheTokens="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    processIsolation="false"
>

    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="-1"/>
    </php>

    <testsuites>
        <!-- The suite of Data Structures -->
        <testsuite name="ds">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
<!--            <directory suffix=".php">./src</directory>-->
            <file>./src/Stack.php</file>
<!--            <exclude>-->
<!--                <directory suffix=".php">/path/to/files</directory>-->
<!--                <file>/path/to/file</file>-->
<!--            </exclude>-->
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./phpunit-coverage/report" lowUpperBound="35" highLowerBound="70"/>
<!--        <log type="coverage-clover" target="./phpunit-coverage/coverage.xml"/>-->
<!--        <log type="coverage-php" target="./phpunit-coverage/coverage.serialized"/>-->
<!--        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>-->
<!--        <log type="junit" target="./phpunit-coverage/logfile.xml"/>-->
<!--        <log type="testdox-html" target="./phpunit-coverage/testdox.html"/>-->
<!--        <log type="testdox-text" target="./phpunit-coverage/testdox.txt"/>-->
    </logging>
</phpunit>
